**Section I: Import the Data**

Imports and Read in File

In [96]:
%matplotlib inline 

import pandas as pd
import numpy as np
from sklearn import cluster
from sklearn import metrics
from sklearn.metrics import pairwise_distances
from sklearn import cluster, datasets, preprocessing, metrics
import matplotlib.pyplot as plt
import matplotlib

import seaborn as sns
matplotlib.style.use('ggplot')

In [84]:
adult = pd.read_csv("../../assets/datasets/adult.csv")

In [85]:
adult.dropna(axis=0, how='any', inplace=True)

In [86]:
df = pd.DataFrame()

**Section II: Format the Data**

Convert the data to a Pandas dataframe to work with the data:

In [87]:
cleandf = pd.DataFrame(adult)

Convert the categorical Data to numeric for our analysis. **HINT:** Refer to lesson 1.1 for writing a function of this sort

In [88]:
dummies = pd.get_dummies(cleandf)

Apply the functions you just wrote and append the results to the dataframe

In [89]:
df = pd.concat((df, dummies), axis= 1)

**Section III: Examine the Data**

Plot the Data to see the distributions our our target markets; plot multiple indicators to see the relationships *IE: Education and Income*

In [52]:
cols = df.columns[:-1]
sns.pairplot(df[cols])

**Section IV: Prepare for Clustering**

Create a New Dataframe with just numerical data for the analysis

In [90]:
numdf = df._get_numeric_data()

Check for NaN and Infinite Numbers - Our data is messy!

In [91]:
numdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30162 entries, 0 to 32560
Columns: 106 entries, age to income_small
dtypes: float64(100), int64(6)
memory usage: 24.6 MB

In [92]:
pd.DataFrame(df.columns.values)

                                             0
0                                          age
1                                       fnlwgt
2                                education-num
3                                 capital-gain
4                                 capital-loss
5                               hours-per-week
6                        workclass_Federal-gov
7                          workclass_Local-gov
8                            workclass_Private
9                       workclass_Self-emp-inc
10                  workclass_Self-emp-not-inc
11                         workclass_State-gov
12                       workclass_Without-pay
13                              education_10th
14                              education_11th
15                              education_12th
16                           education_1st-4th
17                           education_5th-6th
18                           education_7th-8th
19                               education_9th
20                        education_Assoc-acdm
21                         education_Assoc-voc
22                         education_Bachelors
23                         education_Doctorate
24                           education_HS-grad
25                           education_Masters
26                         education_Preschool
27                       education_Prof-school
28                      education_Some-college
29                     marital-status_Divorced
..                                         ...
76                        native-country_Haiti
77           native-country_Holand-Netherlands
78                     native-country_Honduras
79                         native-country_Hong
80                      native-country_Hungary
81                        native-country_India
82                         native-country_Iran
83                      native-country_Ireland
84                        native-country_Italy
85                      native-country_Jamaica
86                        native-country_Japan
87                         native-country_Laos
88                       native-country_Mexico
89                    native-country_Nicaragua
90   native-country_Outlying-US(Guam-USVI-etc)
91                         native-country_Peru
92                  native-country_Philippines
93                       native-country_Poland
94                     native-country_Portugal
95                  native-country_Puerto-Rico
96                     native-country_Scotland
97                        native-country_South
98                       native-country_Taiwan
99                     native-country_Thailand
100             native-country_Trinadad&Tobago
101               native-country_United-States
102                     native-country_Vietnam
103                  native-country_Yugoslavia
104                               income_large
105                               income_small

[106 rows x 1 columns]

In [ ]:
Convert to the Pandas Array to a Numpy Matrix - Your function will only take numerical inputs

**Section V: Clustering Analysis**

Cluster the Data to our our target groups. **BONUS**: Perform multiple clustering tests on various indicator variables

In [97]:
X_scaled = preprocessing.MinMaxScaler().fit_transform(numdf)

In [98]:
pd.DataFrame(X_scaled, columns=numdf.columns).describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,...,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia,income_large,income_small
count,30162.000000,30162.000000,30162.000000,30162.000000,30162.000000,30162.000000,30162.000000,30162.000000,30162.000000,30162.000000,...,30162.000000,30162.000000,30162.000000,30162.000000,30162.000000,30162.000000,30162.000000,30162.000000,30162.000000,30162.000000
mean,0.293670,0.119669,0.608087,0.010920,0.020288,0.407462,0.031265,0.068530,0.738877,0.035608,...,0.000365,0.002354,0.001392,0.000564,0.000597,0.911876,0.002122,0.000530,0.248922,0.751078
std,0.179927,0.071827,0.170000,0.074064,0.092814,0.122245,0.174035,0.252657,0.439254,0.185313,...,0.019094,0.048461,0.037291,0.023734,0.024422,0.283480,0.046016,0.023026,0.432396,0.432396
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.150685,0.070607,0.533333,0.000000,0.000000,0.397959,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000
50%,0.273973,0.111940,0.600000,0.000000,0.000000,0.397959,0.000000,0.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000
75%,0.410959,0.152188,0.800000,0.000000,0.000000,0.448980,0.000000,0.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [99]:
k = 2
kmeans = cluster.KMeans(n_clusters=k)
kmeans.fit(X_scaled)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=2, n_init=10, n_jobs=1, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

Get the labels and centroids

In [101]:
labels = kmeans.labels_
centroids = kmeans.cluster_centers_

print centroids

[[  3.57133274e-01   1.17603348e-01   6.27095327e-01   1.86266296e-02
    2.92927748e-02   4.41357238e-01   3.42429907e-02   7.22990654e-02
    6.71177570e-01   5.98130841e-02   1.20822430e-01   4.12710280e-02
    3.73831776e-04   2.25046729e-02   2.24299065e-02   7.62616822e-03
    5.00934579e-03   9.79439252e-03   2.23551402e-02   1.48037383e-02
    3.06542056e-02   4.71028037e-02   1.89383178e-01   1.99626168e-02
    3.19102804e-01   7.02803738e-02   9.71962617e-04   2.92336449e-02
    1.88785047e-01   3.28971963e-03   6.72897196e-04   9.92000000e-01
    6.72897196e-04  -3.40283357e-14   1.42056075e-03   1.94392523e-03
    5.72710280e-02   2.24299065e-04   1.88635514e-01   1.75327103e-01
    4.19439252e-02   3.32710280e-02   6.66915888e-02   4.02990654e-02
    7.47663551e-05   1.50654206e-01   2.79626168e-02   1.15962617e-01
    2.86355140e-02   7.30467290e-02   9.31813084e-01   2.09345794e-03
    6.28037383e-03   4.03738318e-03   4.93457944e-03   5.08411215e-02
    7.25233645e-03   3.02056075e-02   4.95700935e-02   6.05607477e-03
    9.06915888e-01   5.16635514e-02   9.48336449e-01   7.47663551e-04
    4.11214953e-03   3.14018692e-03   1.19626168e-03   3.28971963e-03
    1.04672897e-03   8.97196262e-04   2.31775701e-03   2.76635514e-03
    9.71962617e-04   4.41121495e-03   1.34579439e-03   1.04672897e-03
    7.47663551e-04  -8.19250267e-18   7.47663551e-05   7.47663551e-04
    3.73831776e-04   4.85981308e-03   1.86915888e-03   5.98130841e-04
    3.28971963e-03   1.71962617e-03   2.24299065e-03   5.98130841e-04
    2.04859813e-02   8.97196262e-04   1.49532710e-04   5.98130841e-04
    6.50467290e-03   1.94392523e-03   1.19626168e-03   2.46728972e-03
    2.24299065e-04   2.24299065e-03   1.86915888e-03   3.73831776e-04
    5.23364486e-04   9.13644860e-01   1.57009346e-03   8.97196262e-04
    4.85308411e-01   5.14691589e-01]
 [  2.43105599e-01   1.21314062e-01   5.92942952e-01   4.78009963e-03
    1.31126271e-02   3.80455357e-01   2.88914041e-02   6.55268958e-02
    7.92815869e-01   1.63221540e-02   5.26002264e-02   4.33073211e-02
    5.36129148e-04   3.09167808e-02   4.45582892e-02   1.63817240e-02
    5.00387204e-03   9.35247513e-03   1.53690356e-02   1.53094657e-02
    3.56228034e-02   4.03288259e-02   1.49580032e-01   6.43354977e-03
    3.31923512e-01   4.09245249e-02   1.90623697e-03   8.99505570e-03
    2.47393817e-01   2.48406505e-01   7.14838863e-04   4.74772145e-02
    2.15047358e-02   5.79376899e-01   5.48043129e-02   4.77154941e-02
    1.76029070e-01   3.57419432e-04   8.97718473e-02   9.81116340e-02
    2.54959195e-02   5.39107643e-02   6.39780783e-02   1.59230357e-01
    8.45892655e-03   1.20509918e-01   1.60838744e-02   1.21105617e-01
    3.15124799e-02   3.54440936e-02   1.23234756e-14   4.58569131e-01
    4.79537738e-02   2.62822422e-01   1.87406922e-01   4.32477512e-02
    1.12587121e-02   2.92488235e-02   1.28313576e-01   8.93548579e-03
    8.22243403e-01   5.41550009e-01   4.58449991e-01   4.76559242e-04
    3.09763507e-03   1.54881754e-03   2.38279621e-03   2.85935545e-03
    3.15720498e-03   8.93548579e-04   4.11032346e-03   2.91892536e-03
    8.33978674e-04   4.11032346e-03   6.55268958e-04   2.91892536e-03
    1.90623697e-03   5.95699053e-05   6.55268958e-04   5.36129148e-04
    4.76559242e-04   2.08494668e-03   1.01268839e-03   9.53118485e-04
    1.42967773e-03   3.39548460e-03   1.72752725e-03   5.36129148e-04
    2.00154882e-02   1.25096801e-03   7.14838863e-04   1.31053792e-03
    6.01656043e-03   1.78709716e-03   1.07225830e-03   4.52731280e-03
    4.76559242e-04   2.44236612e-03   1.01268839e-03   7.14838863e-04
    6.55268958e-04   9.10466432e-01   2.56150593e-03   2.38279621e-04
    6.05825937e-02   9.39417406e-01]]

Compute the Silhoutte Score to measure your analysis